//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';

@import 'plugins/owl.carousel.min.css';


@include media-breakpoint-down(md) {
  html, body {
    font-size: 12px;
    p {
      font-size: 15px;
    }
  }
}

a {
  color: $gray-700;
  &:hover {
    color: $primary;
  }
}

//HEADER
.main-navbar {
  width: 100%;
  @media screen and (min-width: 1024px) and (max-width: 2200px) {
    height: 56px;
  }
  #logo {
    width: 116px;
    height: 33px;
    margin-right: 2rem;
  }
  .nav-link {
    font-size: 14px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
section.main {
  padding-top: 55px;
  &.single {
    padding-top: 111px;
    @include media-breakpoint-up(md) {
      padding-top: 123px;
    }
  }
}
.smal{
  display: block;
  @include media-breakpoint-up(md) {
      display: none;
    }
}
.col{
   @include media-breakpoint-up(md) {
      display: none;
    }
}
// SINGLE
.header-single {
  position: fixed;
  top: 57px;
  @include media-breakpoint-up(md) {
    top: 56px;
  }
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
  box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
}
.single-image {
  border-radius: 100%;
  overflow: hidden;
}
#personalizar {
  .form-check {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray-200;
    padding-left: 0;
    font-size: 1.1rem;


  }
  .group-check, .group-check-multiple {
    padding: 1.5rem 0;
    .group-title {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $gray-700;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      @include media-breakpoint-up(md) {
        font-size: 1rem;
      }
      font-weight: 600;
    }
    .cbox {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .form-check-label {
    font-size: 14px;
    //padding-left: 0.8rem;
    vertical-align: middle;
  }
}
.tab-pane, .card-body {
  padding: 3rem 1.3rem 1.3rem;
  @include media-breakpoint-up(md){
    padding: 2.5rem;
  }
  a {
    color: $gray-700;
  }
  a:hover {
    color: $primary;
  }
}

//CHECKBOXES
.span_pseudo, .cbox span:before, .cbox span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}
.med{
  display: none;
  @include media-breakpoint-up(md){
    display: block;
  }
}
.cbox {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: top;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-200;
  padding-left: 0;
  margin-right: 1rem;
  @include media-breakpoint-up(md){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
  }
}
.cbox input {
  display: none;
}
.cbox input:checked ~ span {
  background: $success;
  border-color: $success;
}
.cbox-disabled {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-200;
  padding-left: 0;
  border-bottom: none;
  font-size: 1.2rem;
  label {
    display: inline;
  }

  @include media-breakpoint-up(md){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: none;
    font-size: 1rem;
  }
  .fas {
    color: $success;
    margin-right: 0.5rem;
  }
}

  .cbox input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
  }
  .cbox input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;

  }
  .cbox input:disabled ~ span {
    //background: #ececec;
    //border-color: #dcdcdc;
  }
  .cbox input:disabled ~ label {
    //color: #dcdcdc;
  }
  .cbox input:disabled ~ label:hover {
    cursor: default;
  }
  .cbox label {
    padding-left:2.5rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
    font-size: 1.2rem;
    padding-right: 45px;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
    letter-spacing: 0.02rem;
  }
  .cbox span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;

  }
  .cbox span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
  }
  .cbox span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
  }
  .price {
    position: absolute;
    right: 1rem;
    vertical-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    &.included {
      color: $success;
      font-size: 0.9rem;
    }

  }

#price-container.animated {
  color: $warning !important;
  transition: all 0.5s ease-out;
}



  //HOME
  .backdrop {
    background: $primary;
    z-index:-1;
    color: #fff;
    height: 100%;
    .row {
      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }
  }

  //Buttons
  .btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    &.btn-lg {
      font-size: 18px;
      padding: 0.8rem 2rem;
    }
    &.btn-warning {
      color: #fff;
    }
  }


  // SECTIONS
  .section {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
    @include media-breakpoint-up(md){
      padding-top: $spacer*5;
      padding-bottom: $spacer*5;
    }

  }

  //FONTS
  .line-block {
    text-align: center;
    &:after {
      content:"";
      left: 0;
      right: 0;
      position: absolute;
      width:100px;
      height: 5px;
      background: $primary;
      margin: 0 auto;
      bottom: - $spacer/1.5;
    }
  }

  #description {
    .icon {
      padding-bottom: $spacer*2;
      text-align: center;
      img {
        margin: 0 auto;
      }
    }
  }

  //CONTENT product
  .product {
    transition: all 250ms ease-out;
    a {
      color: $gray-700;
    }
    .card {
      h5 {
        padding-bottom: 0;
        margin-bottom: 0.2rem;
        font-weight: normal;
      }
      .card-body {
        padding: 2rem 2rem 1.5rem;
      }
    }
    &:hover {
      transform: translate3d(0, -5px, 0);
    }

  }

  #catalogo {
    select.form-control {
      width: auto !important;
      padding: .8rem 2.5rem !important;
    }
  }

  //SINGLE
  .wp-block-image {
    img {
      max-width: 100% !important;
    }
  }

  #single-content {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.4rem !important;
      font-weight: normal !important;
      margin-top: 1.8rem;
    }
    img {
      max-width: 100%;
    }
  }

  //SLIDERS
  .owl-theme {
    overflow: hidden;
    padding-bottom: 2rem;
    &.slider-single{
      padding-bottom: 0;
      .owl-stage-outer {
        padding-bottom: 0;
      }
    }
  }
  .owl-stage-outer {
    padding-bottom:2rem;
  }
  .owl-item {
    float:left;
    //max-width: 300px !important;
    &.active.center {
      //max-width: 350px !important;
      zoom: 1.2;
      position: absolute;
      left: 0;
      right: 0;
      top:-10px;
    }
  }
  .item {
    position: relative;
    .image-cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: contain;
      background-position: center center;
    }
  }
  .owl-stage-outer {
    overflow:inherit !important;
  }
  .owl-dots {
    .slider-single & {
      bottom: 2rem;
    }
    .personalizar & {
      bottom: 0rem;
    }
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;

    .owl-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 20px;
      margin-left: 3px;
      margin-right: 3px;
      background: #d4d4d4;
      &.active {
        background: $secondary;
      }
    }
  }
  .owl-nav {
    @include media-breakpoint-down(md) {
      display: none;
    }
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    .owl-prev {
      position: absolute;
      left: 2rem;
      font-size: 2rem;
    }
    .owl-next {
      position: absolute;
      right: 2rem;
      font-size: 2rem;
    }
  }

  // GENERALES
  .card {
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.24);
  }
  .spacer-1 {
    padding:$spacer*2 0;
  }
  .spacer-2 {
    padding:$spacer*3 0;
  }
  p {
    //font-family: $font-family-text;
    font-weight: 200;
  }

  .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
   // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
  .image-cover {
    z-index: 1;
  }

  .texto-backdrop {
    z-index: 3;
  }

  // CHAPADMALAL

  #chapadmalal {
    .image {
      padding-top: 3rem;
      margin-bottom: -3rem;
      @include media-breakpoint-up(md) {
        padding-top: 6rem;
        margin-bottom: -6rem;
      }
    }

    img{
      width: 330px;
      height: 330px;
      @include media-breakpoint-up(md) {
        width: 600px;
        height: 600px;
      }
    }
  }

  // HISTORIAS

  #historias {
    h4 {
      padding-top: 2rem;
    }
  }

  // estudio

  #gonzalo {
    background: $orange
  }

  #pamela {
    background: $purple
  }

  // FOOTER
  #footer {
    padding: $spacer*3 0;
    background: $primary;
    img {
      width: 134px;
      height: 38px;
    }
    a {
      color: $white;
      &:hover {
        color: $light;
      }
    }
    p {
      color: $white;
      &:hover {
        color: $light;
      }
    }
    .nav {
      padding-left: 0;
      .nav-link {
        color: $white;
        padding: 0;
        &:hover{
          color: #00a1ff;
        }
      }
    }

  }
  strong {
    font-weight: bold;
  }
  // TABS
  .nav-tabs {
    .nav-item {
      border:none;
      margin-bottom: -2px;
      z-index: 10;
      position: relative;
      color: $gray-700;
      font-size: 1.1rem;
      &.active {
        color: $primary;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: none;
        position: relative;
        &:after {
          content:"";
          height: 2px;
          background: $primary;
          position: absolute;
          bottom: 10px;
          left:1.5rem;
          right: 1.5rem;
        }
      }
    }
  }

  //FORMS
  .form-control {
    color: $gray-700 !important;
    padding: 6px 0px 6px 6px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 1.5rem;
    background-color: transparent;
    background-image: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $gray-700;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: all 200ms ease-out 200ms;
    -moz-transition: all 200ms ease-out 200ms;
    -o-transition: all 200ms ease-out 200ms;
    transition: all 200ms ease-out 200ms;
  }

  .form-control:focus {
    border-color: $success;
    outline: 0;
    color: $success;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  .form-group{
    label {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 13px;
    }
  }
.modal {
  padding-right: 0 !important;
}
.modal-content {
  border-radius: 0.5rem;
}
.modal-dialog {
  width: 98%;
  max-width: 990px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transition: all 200ms ease-out 200ms;
  -moz-transition: all 200ms ease-out 200ms;
  -o-transition: all 200ms ease-out 200ms;
  transition: all 200ms ease-out 200ms;
  background-color: rgba(255,255,255,0.9);
  background-image: url("../img/loading.gif");
  background-position: center center;
  z-index: 3000;
  background-repeat: no-repeat;
  background-size: 50px;
}
input:not([type="file"]).error,
textarea.error,
select.error {
  border-bottom: 2px solid $danger !important;
}

input:not([type="file"]).no-error,
textarea.no-error,
select.no-error {
  border-bottom: 2px solid $success !important;
}

div.error-field {
  color: red;
  font-size: small;
  margin-top: -15px;
}

.supericon {
  font-size: 120px;
  line-height: 150px;
  text-align: center;
  &.ok {
    color: $success;
  }
  &.error {
    color: $danger;
  }
}
.alm-reveal {
  @extend .row;
}
.full-height {
  @include media-breakpoint-down(md){
    margin-top: 57px;
  }
}
