.link-transitions { -webkit-transition: background-color 0.5s ease-out; -moz-transition: background-color 0.5s ease-out; -o-transition: background-color 0.5s ease-out; transition: background-color 0.5s ease-out; }

/* .bg-primary { background-color: $primary !important; } .bg-default { background-color: $default !important; } .bg-danger { background-color: $danger !important; } .bg-success { background-color: $success !important; } .bg-info { background-color: $info !important; } .bg-warning { background-color: $warning !important; } .bg-dark-grey { background-color: $dark-grey !important; } .bg-grey { background-color: $grey !important; } .bg-light-grey { background-color: $light-grey !important; } .bg-white { background-color: $white !important; } .bg-black { background-color: $black !important; } //TEXTS COLOR .txt-primary { color: $primary !important; } .txt-default { color: $default !important; } .txt-danger { color: $danger !important; } .txt-success { color: $success !important; } .txt-info { color: $info !important; } .txt-warning { color: $warning !important; } .txt-dark-grey { color: $dark-grey !important; } .txt-grey { color: $grey !important; } .txt-light-grey { color: $light-grey !important; } .txt-white { color: $white !important; } .txt-black { color: $black !important; } */
.relative { position: relative; }

.absolute { position: absolute; }

.fixed { position: fixed; }

.center { margin: 0 auto; left: 0; right: 0; text-align: center; }

.image-cover { background-repeat: no-repeat; background-position: center center; background-size: cover; height: 100%; width: 100%; position: absolute; top: 0; right: 0; left: 0; bottom: 0;}

.float-right { float: right; }

.float-left { float: left; }

.vertical-center { position: absolute; top: 50%; transform: translateY(-50%); }

.first { margin-left: 0 !important; padding-left: 0 !important; }

.last { margin-right: 0 !important; padding-right: 0 !important; }

.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.img-full { position: absolute; -ms-transform: translate(-50%, -50%); /* IE 9 */ -webkit-transform: translate(-50%, -50%); /* Safari */ transform: translate(-50%, -50%); top: 50%; left: 50%; height: 100%; min-width: 100%; max-width: inherit !important; }

/* .pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg { float: right; } .pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{ float: left; } @media (max-width: 767px) { .pull-right-not-xs, .pull-left-not-xs{ float: none; } .pull-right-xs { float: right; } .pull-left-xs { float: left; } } @media (min-width: 768px) { .pull-right-not-sm, .pull-left-not-sm{ float: none; } .pull-right-sm { float: right; } .pull-left-sm { float: left; } } @media (min-width: 992px) { .pull-right-not-md, .pull-left-not-md{ float: none; } .pull-right-md { float: right; } .pull-left-md { float: left; } } @media (min-width: 1200px) { .pull-right-not-lg, .pull-left-not-lg{ float: none; } .pull-right-lg { float: right; } .pull-left-lg { float: left; } } /* Row with equal height columns -------------------------------------------------- */
@media (max-width: 767px) { .row.reorder-xs { transform: rotate(180deg); direction: rtl; /* Fix the horizontal alignment */ }
  .row.reorder-xs > [class*="col-"] { transform: rotate(-180deg); direction: ltr; /* Fix the horizontal alignment */ } }
